*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
h2,h,h4,h5,h6{
    line-height: 0.8;
}
/* ==============navbar part goes here ============*/
nav{
    width: 100%;
    position: absolute;
}
.navbar{
    display: flex;
}
.logo{
    margin-top: 9px;
    margin-bottom: 9px;
}
.logo{
    width: 310px;
}
.menubar{
    width: 880px;
    display: flex;
    justify-content: end;
    align-items: center;
    line-height: 110px;
}
.menubar ul li{
    display: inline-block;
    padding-left: 51px;
}
.menubar ul li a{
    font-family: 'Gentium Book Basic', serif;
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
}
.menubar ul li a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 3px ;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f2f0ef;
    transition: all linear .3s;
    opacity: 0;
}
.menubar ul li a:hover::after{
    width: 100%;
    top: -45px;
    opacity: 1;
}
/* ==============banner part goes here ============*/
#banner{
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 238px;
    padding-bottom: 140px;
}
.banner-text{
    text-align: center;
}
.banner-text h1{
    font-family: 'Yeseva One', cursive;
    color: #ffffff;
    font-size: 90px;
    padding: 0 100px;
    line-height: 118px;
    padding-bottom: 33px;
}
.banner-img{
    padding-bottom: 27px;
}
.banner-text .btn2 button{
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.21);
    padding: 19px 51px 17px 51px;
    margin-right: 30px;
    border: 1px solid #e2dbb8;
    cursor: pointer;
}
.banner-text .btn2 button:hover{
    background-color:rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
}
/* ==============about part goes here ============*/
#about{
    background-image: url('../images/about-back.png');
    padding: 72px 0 0px 0;
    background-color: #f0f4f4;
}
.about{
    padding: 0px 40px 0px 110px;
    display: flex;
}
.about .about-info{
    width: 430px;
    text-align: center;
    margin-right: 18px; 
}
.about .about-info h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    padding-bottom: 15px;
}
.about .about-img{
    width: 652px;
    padding-bottom: 23px;
}
.about .about-info p{
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #4c4c4c; 
    line-height:24px;
    padding: 23px 2px 50px 2px;
}
.about .about-info .mg{
    margin-left: 30px;
}
.about-img .mg{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mg2{
    margin: 0 auto;
}
/* ==============masala part goes here ============*/
.masala-img{
    position: relative;
    border: 0;
}
.masala-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.masala-content{
    width: 570px;
    height: 550px;
    background-color:rgba(0, 0, 0, 0.28);
}
.masala-main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.masala-content{
    margin-right: 40px;
    text-align: center;
    padding: 80px;
}
.masala-content h2{
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 36px;
    padding-bottom: 16px;
}
.masala-content p{
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff; 
    line-height:24px;
    padding-bottom: 70px;
}
.masala-item{
    display: flex;
    justify-content: space-between;
}
/* ==============menu part goes here ============*/
#menu{
    padding: 100px 110px 58px;
    background-image: url('../images/menu-bg.png');
    background-color: #f0f4f4;
}
.menu-left{
    width: 430px;
    float: left;
    margin-right: 170px;
    
}
.menu-left-top{
    text-align: center;
    padding-bottom: 28px;
}
.menu-left-top-head{
    padding-bottom: 32px;
}
.menu-left-top h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 16px;
    text-align: center;
}
.menu-left-top h6{
    text-align: left;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 13px;
}
.menu-left-top h6 span{
    float: right;
    
}
.menu-item{
    text-align: left;
    padding-bottom: 43px;
}
.menu-left-top p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4c4c4c; 
}
.menu-left-bottom{
    text-align: center;
}
.menu-left-bottom-head{
    padding-bottom: 32px;
}
.menu-left-bottom h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 16px;
    text-align: center;
}
.menu-left-bottom h6{
    text-align: left;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 13px;
}
.menu-left-bottom h6 span{
    float: right;
    
}
.menu-item{
    text-align: left;
    padding-bottom: 43px;
}
.menu-left-bottom p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4c4c4c; 
}
.menu-right{
    width: 430px;
    float: left;
    
}
.menu-right-top{
    text-align: center;
    padding-bottom: 28px;
}
.menu-right-top-head{
    padding-bottom: 32px;
}
.menu-right-top h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 16px;
    text-align: center;
}
.menu-right-top h6{
    text-align: left;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 13px;
}
.menu-right-top h6 span{
    float: right;
    
}
.menu-item{
    text-align: left;
    padding-bottom: 43px;
}
.menu-right-top p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4c4c4c; 
}
.menu-right-bottom{
    text-align: center;
}
.menu-right-bottom-head{
    padding-bottom: 32px;
}
.menu-right-bottom h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 16px;
    text-align: center;
}
.menu-right-bottom h6{
    text-align: left;
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    border-bottom: 1px solid #cc9900;
    padding-bottom: 13px;
}
.menu-right-bottom h6 span{
    float: right;
    
}
.menu-item{
    text-align: left;
    padding-bottom: 43px;
}
.menu-right-bottom p{
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4c4c4c; 
}
/* ==============reviews  part goes here ============*/

/* ==============info part goes here ============*/
#info{
    background-image: url('../images/menu-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f4f4;
    padding-top: 100px;
    padding-bottom: 103px;
}
.info{
    padding-right: 110px;
}
.info-left{
    width: 640px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
    float: left;
}
.info-left-item{
    width: 270px;
}
.info-right{
    width: 430px;
    float: left;
    text-align: center;
}
.info-content h2{
    font-family: 'Yeseva One', cursive;
    color: #cc9900;
    font-size: 36px;
    padding-bottom: 15px;
}
.info-content p{
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #4c4c4c; 
    line-height:24px;
    padding: 22px 2px 0px 2px;
}
.form{
    padding-top: 40px;
    
}

.input-items{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.input{
    width: 200px;
    text-align: left;
    padding-bottom: 30px;
}
.input input{
    width: 100%;
    height: 34px;
    padding-left: 15px;
    border: 1px solid #c8c6c6;
    outline: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #4c4c4c; 
}
.input h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700px;
    font-size: 14px;
    color: #c9a131;
    padding-bottom: 10px;
}
.input input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;
   
}
.btn1{
    text-align: center;
    padding-top: 3px;
}
.btn{
    border: 0px;
    padding: 11px 62px 12px;
    background-color: #c9a131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.input-main-icon{
    position: relative;
}
.input-icon{
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    color: #7c7c7c;
}
.input input:hover{
    border: 1px solid #c9a131;
}

/* ==============fotter part goes here ============*/
footer{
    padding-top: 60px;
    padding-bottom: 68px;
    background-color: #191919;
}
.footer-item{
    width: 370px;
    text-align: center;
}
.footer-item h3{
    font-family: 'Yeseva One', cursive;
    color: #fff;
    font-size: 21px;
    padding-bottom: 17px;
}
.footer-text{
    display: block;
  
}
.footer-item p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: #fff;
    padding-top: 11px;
}
.footer-icon{
    width: 121px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    padding-top: 53px;
    display: flex;
    justify-content: space-between;
}
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/
/* ==============navbar part goes here ============*/